.container {
  max-width: 470px;
  margin: 30px auto 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 10px;
  background-color: #86cecb;
  border: 2px solid black;
}
  
  
@media only screen and (max-width:450px) {

  .container {
    height: 100%;
    margin: 0px;
    border: none;      
  }
}